{% load static %} {% load custom_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="{% static 'homestyle.css' %}" />
  </head>
  <body>
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script src="{% static 'elements.js' %}"></script>
    <h6>{{request.user}}</h6>
    <div class="buttons">
      <a class="button" href="{% url 'logout' %}">Logout</a>
    </div>
    <h2 style="text-align: center">Chat Rooms</h2>
    <a id="room-name-submit" type="button" value="Enter">
      <div class="container darker">
        <p>+ add new chatroom</p>
        <input id="room-name-input" type="text" size="100" required /><br />
      </div>
    </a>

    <script>
      const chatSocket = new ReconnectingWebSocket(
        "ws://" + window.location.host + "/ws/chat/all/"
      );

      chatSocket.onopen = function (e) {
        chatSocket.send(
          JSON.stringify({
            command: "home",
          })
        );
      };

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        command = data["command"];
        messages = data["message"];
        for (let i = 0; i <= messages.length - 1; i++) {
          var single_message = messages[i];
          var name = single_message.name.slice(5);
          if (document.getElementById(name)) {
            var a_tag = document.getElementById(name);
            a_tag.remove();
          }
          var a_tag = document.createElement("a");

          a_tag.href = "{% url 'room' room_name=12345 %}".replace(
            12345,
            name.toString()
          );
          a_tag.id = name;
          var body_tag = document.body;
          var tag = chat_element(single_message);
          a_tag.appendChild(tag);
          body_tag.appendChild(a_tag);
        }
      };
      document.querySelector("#room-name-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        if (roomName) {
          document.querySelector("#room-name-input").value = "";
          window.location.pathname = "/chat/" + roomName + "/";
        } else {
          document.querySelector("#room-name-input").focus();
        }
      };
      document.querySelector("#room-name-submit").onkeyup = function (e) {
        if (e.keyCode === 13) {
          document.querySelector("#room-name-submit").click();
        }
      };
    </script>
  </body>
</html>
